body {
    margin: 0;
    padding: 0;
}
.inputsearchbox{
    padding: 5px 10px;   
}
input{
    background-color: #fafafa;
    font-family: inherit;
    line-height: inherit;
    overflow: visible;  
    border: none;
    border-radius: 2px;
    padding: 4px 10px;
    height: 50%;
    width: 371px;
    font-size: 20px;
}
    input:focus{
        outline: none;
    }
button{
    border: none;
    cursor: pointer!important;
    background-color: #3F51B5;
    color:#fafafa ;
    align-items: center;
}
.navbar{
    background-color: #3F51B5;
    color:#fafafa ;
    border-radius: 2px;
    height: 67px;   
}
.leftsidemenu{
    font-size: 16px;
    margin-left: 15px;
}

@media (max-width: 950px){
    .mediaQhideswagger{
        display: none;
    }
}
@media (max-width: 850px){
    .mediaQhidecoloricon{
        display: none;
    }
}
@media (max-width: 800px){
    .mediaQhideshopingicon{
        display: none;
    }
}